body,html {
	width: 100%; 
    background-image: url(../img/cielolunar.jpg);
	background-size: cover;
	font-family: calibri;
	color: #F4E75A;
	font-size: 22px;
	padding: 0px;
	margin: 0px;
}
.a {
   position: absolute;
   display: inline-block;
   float: left;
   top: 20px;
   left: 20px;
   text-align: left;
   width: 20%;
   height: 90%;
   background-image: url("../img/tierra.png");
   background-repeat: no-repeat;
   background-position: center;
}  
.a li a {display: block;padding: 0}
.b {
	position: relative;
	text-align: center;
	font-size: 48px;
}
.c {
	position: absolute;
	display: inline-block;
	float: right;
	top: 20px;
	right: 20px;
	text-align: center;
	width: 20%;
	height: 90%;
}
.c li a {display: block;padding: 0;color: #F4E75A;}
.d {
	height: 10%;
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.secundario {
	text-align: center;
	padding: 5px;
	text-decoration: underline;
}
#encender {
	border-style: solid;
    border-color: #9c9c9c;
	background-color: #626F7B;
	margin: 10px;
	margin-top: 5%;
	color: black;
	width: 70px;
	height: 70px;
	background-image: url("../img/encender.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
	padding-top: 10%;
}
#encender:hover {background-color: #F4E75A;}
#reanudar {
	border-style: solid;
    border-color: #9c9c9c;
	display: none;
	float: right;
	background-color: #626F7B;
	margin: 10px;
	margin-top: 5%;
	color: black;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
}
#reanudar:hover {background-color: #F4E75A;}
#pausa {
	border-style: solid;
    border-color: #9c9c9c;
	display: inline-block;
	float: right;
	background-color: #626F7B;
	margin: 10px;
	margin-top: 5%;
	color: black;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/pause.png");
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: 50% 50%;
}
#pausa:hover {background-color: #F4E75A;}
#reinicia {
	border-style: solid;
    border-color: #9c9c9c;
	display: inline-block;
	width: 70px; 
	height: 70px;
	float: right;
	background-color: #626F7B;
	font-size: 0%;
	color: black;
	margin: 10px;
	margin-top: 5%;
	background-image: url("../img/reinicia.png");
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: 50% 50%;
}
#reinicia:hover {background-color: #F4E75A;}
#finJuego {
	background-image: url("../img/sistema.jpg");
	text-align: center;
	border-style: outset;
	position: absolute;
	display: none;
	width: 50%;
	left: 25%;
	top: 10%;
}
#conseguido {
	background-image: url("../img/sistema.jpg");
	text-align: center;
	border-style: outset;
	position: absolute;
	display: none;
	width: 50%;
	left: 25%;
	top: 10%;
}
#intentos {
}
#fotonave {
	height: 90%;
	display: block;
	margin: auto;
}
#fotofuego {
	height: 40%;
	display: none;
	margin: auto;
}
#cerrar {
	position: relative;
	width: 75%;
	left: 46%;
	top: 25%;
	text-align: left;
}
#creacion {
	margin-left: 11cm;
	padding: 10px;	
}
#creacion ul {
	list-style: square;
}
#creacion li a {
	color: #2DD0D0;
}
#creacion li a:hover{color: #FFFFFF;}
#instrucciones {
	margin-left: 8cm;
	padding: 5px;	
}
#nave {
	text-align: center;
	position: fixed;
	top: 10%;
	width: 100%;
	height: 20%
}
#nave img{height:100%;}
#cpanel {
	list-style: none;
	margin: 0;
	background-color: #626F7B;
	border-style: solid;
    border-color: #9c9c9c;
}
#menu {
	list-style: none;
	margin: 0;
	background-color: #626F7B;
    border-style: solid;
    border-color: #9c9c9c;
}
#menu li a:hover{color:#000000;}
#hidem,#showm{display:none;}