body,html {
   width: 100%; 
   background-image: url(../img/cielolunar.jpg);
   background-size: cover;
   font-family: calibri;
   color: #F4E75A;
   font-size: 14px;
   padding: 0px;
   margin: 0px;
}
.a{
   position: absolute;
   display: block;
   float: left;
   top: 20px;
   left: 5px;
   text-align: left;
   width: 20%;
   height: 100%;
   background-image: url("../img/tierramovil.png");
   background-repeat: no-repeat;
   background-position: center;  
   overflow: hidden;
}  
.a li a {display:block;padding:0}
.b {
   text-align: center;
   font-size: 24px;
   overflow: hidden;
   text-decoration: underline;
}
.c {
   position: absolute;
   float: right;
   width: 20%;
   height: 100%;
   top: 20px;
   right: 5px;
   display: none;
   text-align: center;
}
.c li a {display:block;padding:0;color:#F4E75A;}
.d {
	height: 15%;
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.secundario {
	text-align: center;
	padding: 5px;
	text-decoration: underline;
}
#encender {
	border-style: solid;
    border-color: #9c9c9c;
	background-color: #626F7B;
	margin: 2px;
	margin-top: 5%;
	color: black;
	width: 40px;
	height: 40px;
	background-image: url("../img/encender.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
	padding-top: 10%;
}
#encender:hover {background-color: #F4E75A;}
#reanudar {
	border-style: solid;
    border-color: #9c9c9c;
	display: none;
	float: right;
	background-color: #626F7B;
	margin: 8px;
	margin-top: 5%;
	color: black;
	font-size: 0%;
	width: 40px;
	height: 40px;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
}
#reanudar:hover {background-color: #F4E75A;}
#pausa {
	border-style: solid;
    border-color: #9c9c9c;
	display: inline-block;
	float: right;
	background-color: #626F7B;
	margin: 8px;
	margin-top: 5%;
	color: black;
	font-size: 0%;
	width: 40px;
	height: 40px;
	background-image: url("../img/pause.png");
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: 50% 50%;
}
#pausa:hover {background-color: #F4E75A;}
#reinicia {
	border-style: solid;
    border-color: #9c9c9c;
	display: inline-block;
	width: 40px; 
	height: 40px;
	float: right;
	background-color: #626F7B;
	font-size: 0%;
	color: black;
	margin: 8px;
	margin-top: 5%;
	background-image: url("../img/reinicia.png");
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: 50% 50%;
}
#reinicia:hover {background-color: #F4E75A;}
#finJuego {
	background-image: url("../img/sistema.jpg");
	text-align: center;
	border-style: outset;
	position: absolute;
	display: none;
	width: 50%;
	left: 25%;
	top: 10%;
}
#conseguido {
	background-image: url("../img/sistema.jpg");
	text-align: center;
	border-style: outset;
	position: absolute;
	display: none;
	width: 50%;
	left: 25%;
	top: 10%;
}
#intentos {
}
#fotonave {
	height: 90%;
	display: block;
	margin: auto;
}
#fotofuego {
	height: 40%;
	display: none;
	margin: auto;
}
#cerrar {
	position: relative;
	width: 75%;
	left: 43%;
	top: 25%;
	text-align: left;
}
#creacion {
	margin-left: 11cm;
	padding: 10px;	
}
#creacion ul {
	list-style: square;
}
#creacion li a{
	color: #2DD0D0;
}
#creacion li a:hover{color: #FFFFFF;}
#instrucciones {
	margin-left: 5cm;
	padding: 5px;	
}
button {
	background-color: #626F7B;
	font-family: calibri;
}
#nave {
	text-align: center;
    position: fixed;
	top: 10%;
	width: 100%;
	height: 20%}
#nave img{height: 75%;}
#cpanel {
	border-style: solid;
    border-color: #9c9c9c;
	list-style: none;
	text-align: left;
	color: #F4E75A;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#menu {
	border-style: solid;
    border-color: #9c9c9c;
	list-style:none;
	text-align: center;
	color: #F4E75A;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#menu li a:hover{color: #FFFFFF;}
#hidem,#showm {
	float: center;
	color: #2DD0D0;
	text-decoration: underline;
}